.inputOption {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.inputOption:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.inputOption > h4 {
  margin-left: 5px;
  color: gray;
  font-weight: 600;
  font-size: 14px;
}
