.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__logo {
  object-fit: contain;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login > form > input {
  box-sizing: border-box;
  margin: 10px 0px;
  width: 350px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 5px;
}

.login > form > button {
  width: 350px;
  height: 50px;
  font-size: large;
  color: white;
  background-color: #0074b1;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.login__register-now {
  color: #0177b7;
  cursor: pointer;
}
